@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.underlined {
  border: 1px dashed transparent;
  border-bottom-color: black; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
